@using BadeePlatform.Models.ViewModels

@model List<ChildrenViewModel>

<h2>أطفالي</h2>

<!-- Success messages after adding chilldren -->
@if (TempData["ChildSuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ChildSuccessMessage"]
    </div>
}

@if (TempData["LoginCode"] != null)
{
    <div class="alert alert-info">
        كود الدخول للطفل: <strong>@TempData["LoginCode"]</strong>
    </div>
}

<!-- No Dashboard Record, Errors in managing child -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<!-- NO Children Message -->
@if (Model == null || !Model.Any())
{
    <div class="alert alert-warning">
        ليس لديك أطفال مسجلين... الرجاء إضافة طفل جديد
    </div>

    <a href="@Url.Action("AddChild", "Parent")">
        إضافة طفل جديد
    </a>
}
else
{
    <ul>
        @foreach (var child in Model)
        {
            <li>
                @child.ChildName
                <div class="child-avatar">
                    <img src="@child.IconImgPath" alt="child icon">
                </div>
                | <a href="@Url.Action("ViewChildProfile", "Parent", new { childId = child.ChildId })">
                   عرض الملف الشخصي للطفل
                  </a>

                | <a href="@Url.Action("EditChildProfile", "Parent", new { childId = child.ChildId })">
                     تعديل بيانات الطفل
                  </a>

                | <a href="@Url.Action("ViewChildDashboard", "Parent", new { childId = child.ChildId })">
                      عرض لوحة التحكم
                </a>


                | <form asp-action="DeleteChildProfile" asp-controller="Parent" 
                        method="post" style="display:inline">
                        <input type="hidden" name="childId" value="@child.ChildId" />
                        <button type="submit">حذف</button>
                  </form>
            </li>
        }
    </ul>

    <a href="@Url.Action("AddChild", "Parent")">
        إضافة طفل
    </a>
}
